@tailwind base;
@tailwind components;
@tailwind utilities;

:root { font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; }
body { margin: 0; background-color: #020617; color: white; overflow: hidden; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #1e293b; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #334155; }